Apply styles to the container
/* Set default font for HTML element and line height */
html {
    font-family: "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    line-height: 1.6;
  }
  
  /* Set height, margin, and background image for body element */
  body {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black; /* Set a solid background color for the game */
  }
  
  /* Set display and height for root element */
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Set display, flex direction, and flex for app element */
  .app {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  /* Set flex grow for main container element */
  .main-container {
    flex-grow: 1;
  }
  
  /* Set color, padding, and text alignment for footer element */
  .footer {
    color: #fff; /* (255,255,255) */
    text-align: center;
    background-color: #333; /* Dark background for the footer */
    padding: 1em;
  }
  
  /* Set display, flex direction, and wrap for flex container element */
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  /* Set font for code elements */
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  /* div.asteroids 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    } */
  /* Import the Spacemono font */
  @font-face {
    font-family: 'Spacemono';
    src: url('https://fonts.gstatic.com/s/spacemono/v13/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2') format('woff2');
  }
  
  /* Import the Work Sans font */
  @font-face {
    font-family: 'Work Sans';
    src: url('https://fonts.gstatic.com/s/worksans/v18/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBi8Jpg.woff2') format('woff2');
  }
  