/* CSS for Old Devices Smaller than 320px (mobile) */
@media (max-width: 320px) {
  .text-white.text-decoration-none {
    font-size: 24px;
  }

  .fa-knight {
    font-size: 20px;
  }
}
body {
  background-color: #f8f9fa;
  font-family: Work Sans;
}
/* CSS for screens between 321px and 575px (mobile) */
@media (min-width: 321px) and (max-width: 575px) {
  .text-white.text-decoration-none {
    font-size: 37px;
  }

  .fa-knight {
    font-size: 33px;
  }
}

/* CSS for screens between 576px and 992px (tablet) */
@media (min-width: 576px) and (max-width: 992px) {
  .text-white.text-decoration-none {
    font-size: 58px;
  }

  .fa-knight {
    font-size: 54px;
  }
}

/* CSS for screens greater than 992px (desktop) */
@media (min-width: 993px) {
  .text-white.text-decoration-none {
    font-size: 80px;
  }

  .fa-knight {
    font-size: 38px;

  }
}

.fa-knight {
  margin-bottom: 10px;
}

.text-white.text-decoration-none {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  padding: 10px;
}

/* Applying hex colors */

.fa-knight {
  color: #fff; /* (255,255,255) */
}

.text-white.text-decoration-none {
  color: #fff; /* (255,255,255) */
}

@font-face {
  font-family: 'Spacemono';
  src: url('https://fonts.gstatic.com/s/spacemono/v13/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2') format('woff2');
}

/* Import the Work Sans font */
@font-face {
  font-family: 'Work Sans';
  src: url('https://fonts.gstatic.com/s/worksans/v18/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBi8Jpg.woff2') format('woff2');
}
